services:
  app:
    build: .
    container_name: pos_inventory_server
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
      - /var/www/html/vendor
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: pos_inventory_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pos_inventory
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  pma:
    image: phpmyadmin:latest
    container_name: pos_inventory_pma
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data: